/* main style */
html{
    scroll-behavior: smooth;
}


.holbertonicon{
    display: inline-block;
    color: white;
    font-size: 20px;
    line-height: 0;
}
.holbertonsvg{
    color: #FF6565;
    font-size: 100px;
    line-height: 0;
}
.holbertonsocials{
    display: inline-block;    
    color: white;
    font-size: 32px;
    line-height: 0;
    padding-left: 16px;
}




body{
    width: 100%;
    font-family: sans-serif ;
    color: #071629;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    /* height: 100vh; */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 100px 0;
}


h1{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
h2{
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin: 10px;
}
h3{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 0 20px 32px 20px;
}
p{
    font-size: 16px;
    text-align: center;
    line-height: 26px;
}
.description{
    /* min-width: 300px; */
    max-width: 635px;
    padding: 60px 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    line-height: 26px;
}
.button{
    background-color: #FF6565;
    color: white;
    padding: 14px 32px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;

    transition: background-color 0.3s ease, transform 0.2s ease;
}
.button:hover {
  background-color: #071629; /* or any darker color */
  color: #fff;
  transform: scale(1.05);
  cursor: pointer;
  opacity: 0.9;
}



/* animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}





/* header */
header{
    background-image: url(headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}

header .container{
    padding-top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
.brand{
    display: flex;
    align-items: center;
}
.brand img{
    width: auto;
    height: 32px;
}
.navlinks{
    display: flex;
}

li a{
    padding-left: 32px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
li a:hover{
    color: #FF6565;
}




/* what we do */
.whatwedo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.whatwedo-subcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.whatwedo-item{
    width: 200px;
    padding: 100px 25px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whatwedo-item h3{
    padding: 32px 0 20px 0;
}


/* our results */
.ourresults{
    background-image: url(headphones_hero_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.ourresults-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ourresults-subcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ourresults-item{
    background-image: url(pentagone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 200px;
    height: 200px;
    margin: 100px 25px 0 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.ourresults-item h3{
    font-size: 46px;
    padding: 0 0 0 0;
}
.ourresults-item p{
    font-size: 14px;
    padding: 15px 0 32px 0;
}



/* contact us */
.contactus .container{
    height: auto;
}
form{
    max-width: 335px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 20px;
}
form input {
    border-style: solid;
    border-color: white;
    margin: 20px 0;
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid #979797;

    font-family: inherit;
    font-size: inherit;
    color: inherit;  
    opacity: 70%;  
}
form input::placeholder {
    color: #071629;
    font-weight: 600;
}
form textarea{
    border-style: solid;
    border-color: white;
    margin: 20px 0;
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid #979797;

    font-family: inherit;
    font-size: inherit;
    color: inherit;
    opacity: 70%;
    resize: none;
}
form textarea::placeholder {
    color: #071629;
    font-weight: 600;
}
.button-div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}






/* footer  */
footer .container{
    height: auto;
}
footer{
    background-color: #071629;
    color: white;
}
footer .container{
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}
footer img{
    width: auto;
    height: 32px;
}
.socials{
    margin-left: auto;
    transition: transform 0.3s ease;
}
footer .copyright{
    text-align: center; 
}
.copyright p{
    display: inline-block;
    color: white;
    font-size: 12px;
    opacity: 30%;
}


/* animation */
footer span:hover {
  transform: scale(1.2);
}




/* mobile friendly */
@media (max-width: 480px) {

nav{
    position: relative;
}

.brand{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}
.navlinks{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}
li {
    padding-bottom: 32px;
}
li a{
    padding: 0;
}





/* footer  */
.footer-container{
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
footer .container{
    padding-top: 60px;
}

}